Header {
  height: 100px;
  font-size: 40px;
}


Nav {
  background-color: rgb(98, 34, 157);
  color: white;
  display: flex;
  gap: 25px;
  font-size: 30px;
  text-decoration: none;
}


.navbar {
  text-decoration: none;
  color: white;
}

:any-link { color: rgb(248, 248, 248) ; text-decoration: none; }
:any-link:active { color: orange ; text-decoration: none;}

